{# ============================================================ #}
{# 场景模板：SR88 接口删除                                      #}
{# 路径：product_lines/h3c/SR88/cmd/interface_create_rollback_cmd.j2 #}
{# ============================================================ #}
{# 变量：ifname（必填）                                         #}

undo interface {{ ifname }}